@import "colors.scss";
@import "breakpoints.scss";

.hero {
  background: $red;
  margin: 2.5rem auto 0;
  padding: 4rem 3rem;
  width: 100%;
  max-width: 1200px;

  @include bp(desktop) {
    margin-top: 1rem;
    padding: 7rem 5rem;
  }

  h1 {
    margin: 0;
    color: white;
    font-family: "kelpt_a1_black";
    -webkit-font-smoothing: antialiased;
    font-size: 60px;
    line-height: 1em;
    text-align: left;

    @include bp(desktop) {
      font-size: 80px;
    }
  }

  &--red {
    background: $red;
  }

  &--green {
    background: $green;
  }

  &--blue {
    background: $blue;
  }

  &--yellow {
    background: $yellow;

    h1 {
      color: black;
    }
  }
}
